/* index.css*/
@font-face {
  font-family: FontAwesome;
  src: url(FontAwesome.otf);
}
div{
  border:px solid red;
}

body,
.main{
  height: 100%;
  width:100%;
  padding:0px;
  margin:0px;

}

.container{
  width: auto;
  max-width: 400px;
  height:100%;
  background: none;
  display:table;
  margin:0 auto;
  overflow: hidden;

}
.head{
  width:100%;
  height:auto;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.head>span{
  color: #197552;
  font-weight:600;
  font-size: 1.8em;
}

/*   statics portion */

.statics{
  background: none;
  width:100%;
  height:auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}


.reset{
  height:auto;
  width:auto;
}
.reset>img{
  height:20px;
  width:20px;
}

.stat-part1,
.stat-part2{
  display:flex;
  height: 25px;
}
/******   Big Screen **********/
@media screen and (min-width:600px){

.statics :first-child,
.statics :last-child{
  width:auto;
  margin-left:30px;
}
  .statics{
    display:flex;
    height:25px;
    margin: 13% auto 1% 10%;
  }
  .statics :first-child,
  .statics :last-child
  {
    width:50%;
    margin-left:0px;
    display : table-cell;
  }
  .statics :last-child
  {
    margin-right:0px;
  }
  .timer{
    padding:0px;
  }

  img{
    height:auto;
    width:auto;
    max-width:80%;

  }


.grid{
  width:100%;
  height:80%;
  max-height: 400px;
  max-width: 400px;
  display: table;
  margin: 0 auto;
}

}

@media screen and (max-width:599px){

  .head{
    font-size: 1.5em;
  }

  .statics :first-child,
  .statics :last-child{
    width:auto;
    margin-left:auto;
  }
    .statics{
      display:flex;
      height:25px;
      margin: 13% auto 1% 10%;
    }
    .statics :first-child,
    .statics :last-child
    {
      width:50%;
      margin-left:0px;
      display : table-cell;
    }
    .statics :last-child
    {
      margin-right:0px;
    }
    .timer{
      padding:0px;

    }



    img{
      height:auto;
      width:auto;
      max-width:160%;

    }


    .grid{
      width: 100%;
      height: 80%;
      display: table;
      margin: 0 auto;
    }
  }

/*----------------------------*/

.statics{
  margin-top: 45px;
}
#timer{
  padding:0px;
  margin:0px;
  align-items: center;

}
/**      STATICS ENDS HERE */


.container{
  margin-top:2px;
}

/*-----------  stars -----------*/



.stars-outer {
display: inline-block;
position: relative;
font-family: FontAwesome;
}

.stars-outer::before {
content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
position: absolute;
top: 0;
left: 0;
white-space: nowrap;
overflow: hidden;
width: 0;
}

.stars-inner::before {
content: "\f005 \f005 \f005 \f005 \f005";
color: #f8ce0b;
}

/*---------------------------*/


table{
  border-radius: 12px;
  width: 94%;
  height: 92%;
  margin: 3%;
  background: #168aa7;
  padding: 0px;
  border-spacing: 13px;
  border-right: 2px red;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

td{
  width:25%;
  height:25%;
  padding: 29px;
  background-color: #3cd3ba;
  margin: 8px;
  border-radius: 5px;

}

